
body {
  background-color: #efe9e9; /* Ανοιχτό μπλε */
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: 600;
  color: #212529;
}

p {
  font-size: 1.1rem;
  color: #090101cb;
}

header {
  background: linear-gradient(to right, #007bff, #0056b3);
  color: white;
  padding: 80px 20px;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

header p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

header .btn-primary {
  background-color: #ffc107;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 12px 30px;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.25rem;
}

.navbar .nav-link {
  font-size: 1rem;
  padding-left: 15px;
  padding-right: 15px;
}

footer {
  background-color: #0056b3;  
  color: #ffffff;             
  font-size: 0.95rem;
  padding: 15px 0;
}


.btn-primary:hover {
  background-color: #e0a800;
  color: black;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

